body{
 background-color: rgba(111, 243, 199, 0.425);
 text-align: center;
}
h1{
 padding: 50px;
}
#tHeader th{
 border: 5px solid black;
 width: 300px;
 height: 50px;
 font-size: large;
 background-color: rgb(23, 226, 74);
}
#tBody td{
 border: 4px solid black;
 text-align: center;
 height: 50px;
 background-color: rgb(76, 248, 168);
}
#table {
 border-collapse: collapse;
}
.btnStyle {
 left: 50%;
 top: 50%;
 margin-top: 20px;
 width: 180px;
 height: 40px;
 border: 3px solid rgb(23, 226, 74);
 border-radius: 6px;
 background-color: rgb(76, 248, 168);
 font-size: large;
}